.flexSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
}

.heading {
	text-align: left;
}

.content {
	flex: 1; /* Ensures content takes up available space */
	text-align: justify;
	text-justify: inter-word;
}

.img {
	flex: 1; /* Ensures image takes up available space */
	width: 40vw;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Responsiveness */
 @media only screen and (max-width: 768px) {
	.flexSection {
		flex-direction: column;
	}

	.img {
		width: 100%; /* Full width on smaller screens */
		margin-top: 1.5rem;
	}

	.content {
		margin-top: 0;
	}
}

 @media only screen and (max-width: 480px) {
	.flexSection {
		padding: 1rem 0;
	}

	.img {
		width: 100%; /* Ensure the image doesn't overflow */
	}

	.content {
		text-align: left;
	}

	.section-text {
		font-size: 0.9rem; /* Smaller font for smaller screens */
	}
}

