.content {
	margin-top: 3%;
	display: inline-block;
	text-align: justify;
	text-justify: inter-word;
}

figure {
	text-align: center;
	margin: 0;

	figcaption {
		margin-top: 1%;
		font-style: italic;
		font-size: 1rem;
	}

	img {
		max-width: 90vw;
	}
}
