.componentContainer {
	text-align: center;
	display: flex;
	flex-direction: column; /* Stack elements vertically */
	justify-content: center; /* Horizontally center the card */
	align-items: center; /* Center the contents horizontally */
}

.heading {
	max-width: fit-content;
	margin-bottom: 2%; /* Add some space between the heading and the card */
	margin-top: 0;
}

.cardContainer {
	perspective: 1000px; /* Enables 3D space for flipping */
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.card {
	height: fit-content;
	transform-style: preserve-3d; /* Ensures child elements retain their 3D positioning */
	transition: transform 0.6s; /* Smooth transition for the flip */
}

.flipped {
	transform: rotateY(180deg); /* Flip the card */
}

