#intro {
	margin-top: 20px;
}

.content {
	display: inline-block;
	text-align: justify;
	text-justify: inter-word;
	margin: auto;
}

ol {
	list-style-position: inside;
}

ol li {
	margin: 5px 0;
	font-size: 1.1em;
}

@media (max-width: 768px) {
	h1 {
		font-size: 2em;
	}
}

.responseOfficerImg {
	max-width: 90vw;
}
