.footerWrapper {
	padding: 1% 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.3), #010101),
		url("../../assets/card-background.jpg") no-repeat center center/cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.footerWrapper {
		margin-left: 5rem; /* Offset for sidebar */
	}
}

/* Adjustments for small screens with bottom navbar */
@media only screen and (max-width: 599px) {
	.footerWrapper {
		padding-bottom: 5rem; /* Add extra padding to account for bottom navbar */
		margin-bottom: 0; /* Ensure no extra space at the bottom */
	}
}

.footerLinks {
	text-align: center;
	width: 100%;
	padding: 0 2%;
}

.iconContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.logo {
	cursor: pointer;
	height: 7dvh;
	max-height: 100px;
}

.icon {
	color: #ecf0f1;
	transition: color 0.3s ease;
}

.icon:hover {
	color: #faa61a;
}

