:root {
	--text-primary: #FAA61A;
	--text-secondary: #BBBBBB;
	--bg-primary: #010101;
	--bg-secondary: #FAA61A;
	--transition-speed: 600ms;
}

/* Text color utilities */
.text-primary { color: var(--text-primary); }
.text-secondary { color: var(--text-secondary); }

/* Background color utilities */
.bg-primary { background-color: var(--bg-primary); }
.bg-secondary { background-color: var(--bg-secondary); }

/* Border color utilities */
.border-primary { border-color: var(--text-primary); }
.border-secondary { border-color: var(--text-secondary); }

::selection {
	background: #333333;
	color: #FAA61A;
}
::-moz-selection {
	background: #333333;
	color: #FAA61A;
}

main {
	background-color: var(--bg-primary);
}

h1, h2, h3 {
	text-align: center;
}

/* Large screens */
@media only screen and (min-width: 600px) {
	/* Prevent the Navbar (on the side) from blocking main  content */
	main {
		margin-left: 5rem; /* Default navbar width */
	}
}

/* Use grid to create a full-height layout */
.pageContainer {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
