.businessCardFallback {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 333px;
	max-width: 90vw;
	height: 227px;
	border-radius: 5px;
	background: var(--bg-tertiary);
}

.businessCard {
	margin-bottom: 5%;
}
