/* Style for smaller screens */
.textLimited {
	display: -webkit-box;
	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Style for larger screens */
@media (min-width: 768px) {
	.textLimited {
		-webkit-line-clamp: 12;
	}
}

@media (min-width: 1024px) {
	.textLimited {
		-webkit-line-clamp: none; /* No line limit on very large screens */
	}
}
